

.textMessageFrom{
    background-color: #FF9966;
     width: 100px;
    height: 200px;
   -moz-border-radius: 100px / 50px; 
   -webkit-border-radius: 100px / 50px; 
   border-radius: 100px / 50px; 
    position: absolute;
    font-size: 10px; 
    font-color: ; 
    text-align:left; 
}

.textMessageTo{
    background-color: blue;
     width: 100px;
    height: 200px;
   -moz-border-radius: 100px / 50px; 
   -webkit-border-radius: 100px / 50px; 
   border-radius: 100px / 50px; 
    position: absolute;
    right: 40px; 
    font-size: 10px; 
    font-color: ; 
    text-align:right; 
}



    .app-btn-new-badge .ui-btn-inner:before {
        content: '1';
        position: absolute;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        width: 15px;
        height: 15px;
        right: 0px;
        top: 0px;
        margin-right: 5px;
        margin-top:  2px;
        background-color: red;
        background-image: -webkit-linear-gradient(top, #f7847e 0%,#f9363d 49%,#e8100e 50%,#c30910 100%);
        color: white;
        font-size: 12px;
        font-weight: bold;
        border: black;
        border-radius: 30px;
        border: solid 2px white;
        z-index: 2;
        }





