

.briefLink{
    display: none; 
    }
    

.textMessageLink{
    display: none; 
    }
    
#lacyText2, #lacyText3, #lacyText4, #lacyText5, #carolineText2, #carolineText3, #georgeText2, #georgeText3, #georgeText4, #georgeText5, #georgeText6, #georgeText7, #georgeText8, #georgeText9, #persisText2, #persisText3, #persisText4, #stormAlert2 {
    display: none; 
}

.statPage{
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
}


    .app-btn-new-badge .ui-btn-inner:before {
        content: '1';
        position: absolute;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        width: 15px;
        height: 15px;
        right: 0px;
        top: 0px;
        margin-right: 5px;
        margin-top:  2px;
        background-color: red;
        background-image: -webkit-linear-gradient(top, #f7847e 0%,#f9363d 49%,#e8100e 50%,#c30910 100%);
        color: white;
        font-size: 12px;
        font-weight: bold;
        border: black;
        border-radius: 30px;
        border: solid 2px white;
        z-index: 2;
        }





